header {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}
header span {
    font-size: 20px;
    font-weight: bold;
}
header > div {
    float: right;
    font-size: 13px;
}
header div div {
    display: inline-block;
    margin-left: 10px;
}
main {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

main > div {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background-color: #eaeaea;
}
