body {
    min-width: 800px;
}
button:focus, select:focus {
    outline: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 3px 0px #c1c1c1;
    box-sizing: border-box;
}
header > span {
    font-size: 20px;
    font-weight: bold;
}
header > div:nth-child(2) {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    height: 50px;
    left: 43%;
    top: 0;
}
header > div:nth-child(2) button {
    width: 50px;
    cursor: pointer;
    background-color: white;
    border: none;
}
header > div:nth-child(2) input {
    width: 30px;
    border: 1px solid #c3bfbf;
}
header > div:nth-child(3) {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 13px;
}
header > div:nth-child(3) div {
    display: inline-block;
    cursor: pointer;
    text-align: right;
}
header > div:nth-child(3) div:first-child {
    width: 70px;
    margin-right: 20px;
    background-size: 20px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(icons/upload.svg);
}
header > div:nth-child(3) div:nth-child(2) {
    width: 63px;
    margin-left: 20px;
    background-size: 16px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(icons/delete.svg);
}
.noscroll {
    height: 100vh;
    overflow: hidden;
}
main {
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}
main > div input {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    opacity: 0;
}
main > div input:hover, main> div input:checked {
    opacity: 1;
}
main > div {
    position: relative;
    width: 200px;
    border-radius: 4px;
}
main > div div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: black;
}
main > div div:first-child img {
    max-width: 100%;
    max-height: 100%;
}
main > div div:nth-child(2) b {
    display: inline-block;
    color: black;
    margin-bottom: 5px;
}
main > div div:nth-child(2) {
    width: 100%;
    font-size: 13px;
    text-align: center;
    color: #888888;
    padding: 10px 0;
}
#upload {
    position: absolute;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgb(0 0 0 / 60%);
}
#upload > div {
    width: 500px;
    margin-top: 100px;
    border-radius: 6px;
    box-shadow: 0 0 20px 0px #484848;
    background-color: white;
}
#upload > div > div:first-child {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-weight: bold;
}
#upload > div > div:nth-child(2) {
    position: relative;
    width: 90%;
    outline: 1px solid #d6d6d6;
    margin: auto;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
}
#upload > div > div:nth-child(2) input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}
#upload > div > div:nth-child(3) {
    text-align: center;
    padding: 50px 0;
    font-size: 13px;
}
#upload > div > div:nth-child(4) {
    position: relative;
    height: 40px;
    margin-bottom: 20px;
}
#upload > div > div:nth-child(4) select {
    position: absolute;
    bottom: 0;
    left: 20px;
    border: none;
    background: white;
}
#upload > div > div:nth-child(4) button {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 20px;
    bottom: 0;
    border: none;
    right: 20px;
    border-radius: 4px;
}